<ugl-header [header]="header" (logoutAction)="logout($event)" [logoutText]="'Logout now'" *ngIf="isAutenticated">
  <div uglGrid [grid]="true" [col]="2">
    <ugl-button [id]="'test'" [size]="'small'" [color]="'purple'" [style]="'fill'" [wave]="true"
      [title]="'Ocultar Menu'" [type]="'button'" (action)="hideMenu()">Ocultar Menu</ugl-button>
  </div>
</ugl-header>

<section class="has-header">
  <ugl-form [ngClass]="'has-header central white'" (cancelClick)="cancel()" (submitClick)="submit($event)">
    <ugl-select [select]="select" stylized="true" (selected)="selectItem($event)" [theme]="'theme-colored-aquamarine'"
      stylizedType="small"></ugl-select>

    <ugl-listbox [select]="select" [label]="'Teste'" [stylized]="true"></ugl-listbox>
  </ugl-form>
</section>
