<ugl-header
	[header]="header"
	(logoutAction)="logout($event)"
	[logoutText]="'Logout now'"
	*ngIf="isAutenticated"
>
	<div uglGrid [grid]="true" [col]="2">
		<ugl-button
			[id]="'test'"
			[size]="'small'"
			[color]="'purple'"
			[style]="'fill'"
			[wave]="true"
			[title]="'Ocultar Menu'"
			[type]="'button'"
			(action)="hideMenu()"
			>Ocultar Menu</ugl-button
		>
	</div>
</ugl-header>

<section class="has-header">
  <div class="container container--central container--white">
    <div style="width: 100px">
      <input type="radio" name="" id="">
      <ugl-multiselect [select]="select" [stylized]="true" label="Teste" (selected)="selectItem($event)"></ugl-multiselect>
    </div>
  </div>
</section>
<!--
<ugl-aside [people]="people" [menu]="aside"></ugl-aside>
<section class="has-aside has-breadcrumb">
  <ugl-breadcrumb [menu]="breadcrumb" [title]="'Revenue Assurance'" [logo]="'https://ciandt.com/themes/custom/ciandt_theme/images/logo_blank.svg'"></ugl-breadcrumb>

  <h1>teste</h1>
</section> -->
