<ugl-header [header]="header" (logoutAction)="logout($event)" [logoutText]="'Logout now'" *ngIf="isAutenticated">
  <div uglGrid [grid]="true" [col]="1">
    <ugl-button
      [color]="'aquamarine'"
      [size]="'small'"
      [style]="'border'"
      [wave]="false"
      (action)="openModal()"><i class="material-icons">add</i> Ocultar Menu</ugl-button>
  </div>
</ugl-header>

<section class="has-header">
  <div class="container container--central container--white">
    <ugl-list-options
        [id]="'list-my-coachees'"
        [names]="names"
        uglGrid [span]="'1'"
        (onClick)="selectCoachee($event)">
    </ugl-list-options>

    <ugl-list-options
        [id]="'list-my-coachees'"
        [items]="items"
        uglGrid [span]="'1'"
        (onClick)="selectCoachee($event)">
    </ugl-list-options>
    <ugl-datepicker
      [name]="'date'"
      [label]="'Date'"
      [message]="'Select one date'"
      [required]="true"
      [invalid]="false"
      [datePattern]="'MM/YYYY'">
    </ugl-datepicker>
    <ugl-select
      [label]="'Language'"
      [select]="select"
      [message]="'Select your language'"
      [dataTitle]="'Select an option'"
      (selected)="selectLanguage($event)">
      
    </ugl-select>

    <ugl-radio [items]="radioItems"></ugl-radio>
  </div>
</section>

<ugl-modal></ugl-modal>