<ugl-header [header]="header" (logoutAction)="logout($event)" [logoutText]="'Logout now'" *ngIf="isAutenticated">
  <div uglGrid [grid]="true" [col]="1">
    <ugl-button
      [color]="'aquamarine'"
      [size]="'small'"
      [style]="'border'"
      [wave]="false"
      (action)="openModal()"><i class="material-icons">add</i> Ocultar Menu</ugl-button>
  </div>
</ugl-header>

<section class="has-header">
  <div class="container">
    <ugl-label-span [label]="'Nome'" [texts]="['Texto 1']"></ugl-label-span>
    <ugl-label-span [label]="'Nome'" [texts]="['Texto 1', 'Texto 2']"></ugl-label-span>
    <ugl-label-span [label]="'Nome'" [texts]="['Texto 1', 'Texto 2', 'Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto 3']"></ugl-label-span>
  </div>
</section>

<ugl-modal></ugl-modal>