section {
  @include mobile() {
    padding: 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include mobile() {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    &--central {
      width: 1024px;
      padding-right: 1rem;
      padding-left: 1rem;

      @include mobile() {
        width: 100%;
      }
    }

    &--white {
      background-color: color(_others, 'light');
      box-shadow: 0 1rem 1rem color(_others, 'shadow');
    }
  }

  &.has-header {
    margin-top: 60px; //transformar em variável
    padding: 0 1rem;

    .container {
      min-height: calc(100vh - 60px);
    }
  }

  &.has-toolbar {
    margin-top: 100px; //transformar em variável
    padding: 0 1rem;

    .container {
      min-height: calc(100vh - 100px);
    }
  }

  &.has-aside {
    margin-left: 200px;

    &.aside-small {
      margin-left: 0;
    }
  }

  &.has-breadcrumb {
    margin-top: 34px; //transformar em variável

    .container {
      min-height: calc(100vh - 34px);
    }
  }
}

.box-border {
  position: relative;
  padding: 24px 16px;
  margin-top: 26px;
  border: 2px solid color('_aquamarine', 'dark');
  border-radius: 10px;
  background-color: color('_others', 'body');

  .box-header {
    position: absolute;
    top: -16px;
    left: 14px;

    h3 {
      margin: 0;
      padding: 5px 20px;
      font-size: 14px;
      color: color('_aquamarine', 'dark');
      border-radius: 8px;
      background: color('_others', 'light');
    }
  }
}
