<ugl-aside [menu]="menu" [people]="people"></ugl-aside>
<section class="has-aside has-breadcrumb">
  <ugl-breadcrumb [menu]="breadcrumb"></ugl-breadcrumb>
  
  <ugl-form
      (cancelClick)="formAction()"
      (submitClick)="formAction()"
      [cancelText]="'Limpar'"
      [submitText]="'Salvar'"
      [ngClass]="'has-aside has-breadcrumb'">

      <ugl-page-title [firstTitle]="'Teste do'" [secondTitle]="'Formulário'"></ugl-page-title>

      <div uglGrid [grid]="true" col="3">

        <ugl-field [label]="'Revenue Company Account'"
                [name]="'revenueAccount2'"
                [disabled]="false"
                [required]="true"
                [zindex]="999"
                [type]="'autocomplete'"
                [message]="'Fill a Account'"
                [messageRequired]="'Required'"
                [autoCompleteOptions]="autoCompleteOptions"
                [autocompleteStartDigits]="3"
                #autocomplete>
      </ugl-field>
      <ugl-field [label]="'Invoice Company Account'"
                [name]="'invoiceAccount'"
                [required]="false"
                [type]="'autocomplete'"
                [message]="'Informe novamente a Conta Contabil'"
                [messageRequired]="'Obrigatório'"
                [autoCompleteOptions]="autoCompleteOptions"
                #autocomplete2>
      </ugl-field>
      <ugl-field [label]="'Client Company '"
                [name]="'teste'"
                [required]="true"
                [type]="'autocomplete'"
                [message]="'teste'"
                [messageRequired]="'Obrigatório'"
                [autoCompleteOptions]="autoCompleteOptions"
                #autocomplete3>
      </ugl-field>

      <ugl-select *ngIf="revenueSourceSelect" [select]="revenueSourceSelect" [id]="'select-revenue-source'" [stylized]="false" width="100%"></ugl-select>

    </div>
    </ugl-form>
</section>
